name: ci
on: [pull_request, push]

jobs:
  test:
    name: test
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
        toolchain: [beta, nightly, stable]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.toolchain }}
    - name: Enable full CPU feature set
      run: echo "RUSTFLAGS=-C target-cpu=native" >> "$GITHUB_ENV"
    - name: Update dependencies
      run: cargo update
    - name: Run tests
      run: cargo test
